@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Scheherazade+New&display=swap');

@import "tailwindcss";

/* default fallback */
:root {
  --arabic-font: 'Amiri', serif;
  --arabic-size: 24px;
}

.font-arabic {
  font-family: var(--arabic-font);
  font-size: var(--arabic-size);
}